<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/WdatePicker.css" />
<link rel="stylesheet" type="text/css" href="/css/skin_/table.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.dialog.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.grid.css" />
<link rel="stylesheet" type="text/css" href="/css/newCss/newCss.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/jquery.select.js"></script>
<script type="text/javascript" src="/js/core.js"></script>
<script type="text/javascript" src="/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/js/jquery.grid.js"></script>
<script type="text/javascript" src="/js/WdatePicker.js"></script>

<script type="text/javascript" src="/js/newjs/medicine.js"></script>

<script type="text/javascript">
	function selectMed() {
		var med_name = $("#med_name").val();
		var med_no = $("#med_no").val();
		var type_id = $("#type_id").val();
		if (type_id == "all") {
			type_id = "";
		}
		var factory = $("#factory").val();
		$
				.ajax({
					url : "stock/selectMed",
					type : "post",
					dataType : "json",
					data : {
						med_name : med_name,
						med_no : med_no,
						type_id : type_id,
						factory : factory,
						type : "require"
					},
					success : function(data) {
						$("#data").html("");
						$("#page").html("");
						$
								.each(
										data.list,
										function(index, value) {
											var div = $("<tr><td><input type='checkbox' id='"
													+ value.id
													+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
													+ value.id
													+ "</td><td>"
													+ value.typename
													+ "</td><td>"
													+ value.med_no
													+ "</td><td>"
													+ value.med_name
													+ "</td><td>"
													+ value.factory
													+ "</td><td>"
													+ value.price
													+ "</td><td>"
													+ value.description
													+ "</td><td>"
													+ value.med_count
													+ "</td><td>"
													+ value.req_count
													+ "</td><td><img src="+value.picture+" style='width: 30px; height: 30px;' /></td><td><a href='#' onclick='updateData("
													+ value.id
													+ ")'>修改需求</a>&nbsp;&nbsp; <a href='#' onclick='delData("
													+ value.id
													+ ")'>删除</a></td></tr>");
											$("#data").append(div);
										});
						var page = "<div id='pagediv'><div>总记录数： <i>"
								+ data.rowCount
								+ "</i></div><div>总页数： <i>"
								+ data.pageCount
								+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
								+ data.pageIndex
								+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
								+ data.prePage
								+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.nextPage
								+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.pageCount
								+ ")'>末页</a><span class='current next'>&gt;</span>";
						$("#page").append(page);
					}
				});
	}

	function delData(id) {
		var delId = "";
		var type;
		if (id == "" || id == null) {
			type = "some";
			$(".checkboxes").each(function() {
				if (this.checked == true) {
					delId += this.id;
					delId += ",";
				}
			})
		} else {
			type = "alone";
			delId = id;
		}

		if (delId == "" && type == "some") {
			alert("请勾选要删除的数据");
		} else {
			if (confirm("确定要删除吗？")) {
				$
						.ajax({
							url : 'stock/delData',
							type : 'post',
							dataType : 'json',
							data : {
								id : delId,
								type : type
							},
							success : function(data) {
								alert(data.error);
								$("#data").html("");
								$("#page").html("");
								$
										.each(
												data.data.list,
												function(index, value) {
													var div = $("<tr><td><input type='checkbox' id='"
															+ value.id
															+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
															+ value.id
															+ "</td><td>"
															+ value.typename
															+ "</td><td>"
															+ value.med_no
															+ "</td><td>"
															+ value.med_name
															+ "</td><td>"
															+ value.factory
															+ "</td><td>"
															+ value.price
															+ "</td><td>"
															+ value.description
															+ "</td><td>"
															+ value.med_count
															+ "</td><td>"
															+ value.req_count
															+ "</td><td><img src="+value.picture+" style='width: 30px; height: 30px;' /></td><td><a href='#' onclick='updateData("
															+ value.id
															+ ")'>修改需求</a>&nbsp;&nbsp; <a href='#' onclick='delData("
															+ value.id
															+ ")'>删除</a></td></tr>");
													$("#data").append(div);
												});
								var page = "<div id='pagediv'><div>总记录数： <i>"
										+ data.data.rowCount
										+ "</i></div><div>总页数： <i>"
										+ data.data.pageCount
										+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
										+ data.data.pageIndex
										+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
										+ data.data.prePage
										+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
										+ data.data.nextPage
										+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
										+ data.data.pageCount
										+ ")'>末页</a><span class='current next'>&gt;</span>";
								$("#page").append(page);
								$("#all").prop("checked", false);
							}
						})
			}
		}
	}

	function toDataByPage(pageIndex) {
		$
				.ajax({
					url : "stock/toDataByPage1",
					type : "post",
					dataType : "json",
					data : {
						pageIndex : pageIndex
					},
					success : function(data) {
						$("#data").html("");
						$("#page").html("");
						$
								.each(
										data.list,
										function(index, value) {
											var div = $("<tr><td><input type='checkbox' id='"
													+ value.id
													+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
													+ value.id
													+ "</td><td>"
													+ value.typename
													+ "</td><td>"
													+ value.med_no
													+ "</td><td>"
													+ value.med_name
													+ "</td><td>"
													+ value.factory
													+ "</td><td>"
													+ value.price
													+ "</td><td>"
													+ value.description
													+ "</td><td>"
													+ value.med_count
													+ "</td><td>"
													+ value.req_count
													+ "</td><td><img src="+value.picture+" style='width: 30px; height: 30px;' /></td><td><a href='#' onclick='updateData("
													+ value.id
													+ ")'>修改需求</a>&nbsp;&nbsp; <a href='#' onclick='delData("
													+ value.id
													+ ")'>删除</a></td></tr>");
											$("#data").append(div);
										});
						var page = "<div id='pagediv'><div>总记录数： <i>"
								+ data.rowCount
								+ "</i></div><div>总页数： <i>"
								+ data.pageCount
								+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
								+ data.pageIndex
								+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
								+ data.prePage
								+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.nextPage
								+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.pageCount
								+ ")'>末页</a><span class='current next'>&gt;</span>";
						$("#page").append(page);
					}
				})
	}
</script>

<title>药品需求管理</title>
</head>

<body>
	<div id="container">
		<div id="hd"></div>
		<div id="bd">
			<div id="main">
				<input type="hidden" th:value="${session.error}" id="error"></input>
				<div class="search-box ue-clear">
					<div class="search-area">
						<div class="kv-item ue-clear"
							style="width: 270px; float: left; margin-right: 100px">
							<label>药品名称:</label>
							<div class="kv-item-content">
								<input type="text" id="med_name" name="med_name"
									style="width: auto" />
							</div>
						</div>



						<div class="kv-item ue-clear"
							style="width: 270px; float: left; margin-right: 100px">
							<label>药品编码:</label>
							<div class="kv-item-content">
								<input type="text" id="med_no" name="med_no" style="width: auto" />
							</div>
						</div>

						<div class="kv-item ue-clear"
							style="width: 270px; float: left; margin-right: 100px">
							<label>药品种类:</label>
							<div class="kv-item-content">
								<select style="width: 100px;" id="type_id">
									<option value="all">全部</option>
									<option th:each="c:${medType}" th:value="${c.id}"
										th:text="${c.typename}"></option>
								</select>
							</div>
						</div>

						<div class="kv-item ue-clear"
							style="width: 270px; float: left; margin-right: 100px">
							<label>生产厂家:</label>
							<div class="kv-item-content">
								<input type="text" id="factory" name="factory"
									style="width: auto" />
							</div>
						</div>
					</div>
					<div class="search-button" style="float: right;">
						<input style="width: 90px; height: 31px; line-height: 31px;"
							class="button" type="button" onclick="selectMed()" value="查询" />
					</div>
				</div>

				<div class="table">
					<div class="opt ue-clear">
						<span class="optarea"> <a href="javascript:;"
							onclick="delData()" class="delete"> <i class="icon"></i> <span
								class="text">删除</span>
						</a>
						</span>
					</div>

					<div class="grid">
						<table class="ui-table" width="100%">
							<thead>
								<tr>
									<th width="3%"><input type="checkbox" id="all"
										onclick="checkAll()" /></th>
									<th width="5%">药品ID</th>
									<th width="8%">药品种类</th>
									<th width="8%">药品编码</th>
									<th width="10%">药品名称</th>
									<th width="8%">生产厂家</th>
									<th width="6%">价格</th>
									<th width="">描述</th>
									<th width="6%">库存</th>
									<th width="7%">需求数量</th>
									<th width="5%">图片</th>
									<th width="12%">操作</th>
								</tr>
							</thead>
							<tbody class="ui-table-tbody" id="data">
								<tr th:each="c:${medicine.list}">
									<td><input type="checkbox" th:id="${c.id}"
										onclick="checkOne()" class="checkboxes" /></td>
									<td th:text="${c.id}"></td>
									<td th:text="${c.typename}"></td>
									<td th:text="${c.med_no}"></td>
									<td th:text="${c.med_name}"></td>
									<td th:text="${c.factory}"></td>
									<td th:text="${c.price}"></td>
									<td th:text="${c.description}"></td>
									<td th:text="${c.med_count}"></td>
									<td th:text="${c.req_count}"></td>
									<td><img th:src="${c.picture}"
										style="width: 30px; height: 30px;" /></td>
									<td><a href="#"
										th:onclick="|javascript:updateData(${c.id})|">修改需求</a>&nbsp;&nbsp;<a
										href="#" th:onclick="|javascript:delData(${c.id})|">删除</a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="pagination" id="page" style="float: right;">
						<div id="pagediv">
							<div>
								总记录数： <i th:text="${medicine.rowCount}"></i>
							</div>
							<div>
								总页数： <i th:text="${medicine.pageCount}"></i>
							</div>
							<div style="margin-right: 30px;">
								当前页： <i th:text="${medicine.pageIndex}"></i>
							</div>
						</div>
						<span class="current prev">&lt;</span><a href="javascript:;"
							th:onclick="|javascript:toDataByPage(1)|">首页</a> <a
							href="javascript:;"
							th:onclick="|javascript:toDataByPage(${medicine.prePage})|">上一页</a><a
							href="javascript:;"
							th:onclick="|javascript:toDataByPage(${medicine.nextPage})|">下一页</a><a
							href="javascript:;"
							th:onclick="|javascript:toDataByPage(${medicine.pageCount})|">末页</a>
						<span class="current next">&gt;</span>
						<!-- <div class="pxofy">暂时无数据可以显示</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="exitDialog" id="updateData">
		<div class="content">
			<form id="updateMed" method="post" style="margin-left: 20px"
				enctype="multipart/form-data">
				<input type="hidden" id="medId" name="id" />
				<div style="margin-top: 20px">
					<label style="float: left;">药品名称</label> <input type="text"
						name="med_name" id="updatename" readonly="readonly"
						style="margin-left: 10px" />
				</div>
				<div style="margin-top: 20px">
					<label style="float: left;">药品编码</label> <input type="text"
						name="med_no" id="updatemedno" readonly="readonly"
						style="margin-left: 10px" />
				</div>
				<div style="margin-top: 20px">
					<label style="float: left; margin-right: 26px">需求</label> <input
						type="text" name="req_count" id="req_count"
						oninput="value=value.replace(/[^\d]/g,'')"
						style="margin-left: 10px;" />
				</div>
				<div class="buttons" style="margin-top: 20px">
					<input style="margin-right: 150px" type="button"
						class="button long2 ok" value="确定" /> <input type="button"
						class="button long2 normal" value="取消" />
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/core.js"></script>
<script type="text/javascript" src="/js/jquery.dialog.js"></script>
<script type="text/javascript">
	$('#updateData').Dialog({
		title : '修改需求',
		autoOpen : false,
		width : 400,
		height : 200
	});

	function updateData(id) {
		$('#updateData').Dialog('open');
		$.ajax({
			url : 'toUpdateMed',
			type : 'post',
			dataType : 'json',
			data : {
				id : id
			},
			success : function(data) {
				$("#medId").val(data.data.id);
				$("#updatename").val(data.data.med_name);
				$("#updatemedno").val(data.data.med_no);
				$("#req_count").val(data.data.req_count);
			}
		});
	}

	$('#updateData input[type=button]').click(function() {
		if ($(this).hasClass('ok')) {
			var reqcount = $("#req_count").val();
			if (reqcount != "") {
				$.ajax({
					url : "updateReqCount",
					type : "post",
					dataType : "json",
					data : new FormData($("#updateMed")[0]),
					processData : false,
					contentType : false,
					async : false,
					success : function(msg) {
						alert(msg.error);
						$('#updateData').Dialog('close');
						getMed();
					}
				});
			} else {
				alert("请填写需求数量！");
				return false;
			}
		} else {
			$('#updateData').Dialog('close');
		}
	})
	function getMed() {
		$
				.ajax({
					url : 'stock/getMed',
					type : 'post',
					dataType : 'json',
					success : function(data) {
						$("#data").html("");
						$("#page").html("");
						$
								.each(
										data.list,
										function(index, value) {
											var div = $("<tr><td><input type='checkbox' id='"
													+ value.id
													+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
													+ value.id
													+ "</td><td>"
													+ value.typename
													+ "</td><td>"
													+ value.med_no
													+ "</td><td>"
													+ value.med_name
													+ "</td><td>"
													+ value.factory
													+ "</td><td>"
													+ value.price
													+ "</td><td>"
													+ value.description
													+ "</td><td>"
													+ value.med_count
													+ "</td><td>"
													+ value.req_count
													+ "</td><td><img src="+value.picture+" style='width: 30px; height: 30px;' /></td><td><a href='#' onclick='updateData("
													+ value.id
													+ ")'>修改需求</a>&nbsp;&nbsp; <a href='#' onclick='delData("
													+ value.id
													+ ")'>删除</a></td></tr>");
											$("#data").append(div);
										});
						var page = "<div id='pagediv'><div>总记录数： <i>"
								+ data.rowCount
								+ "</i></div><div>总页数： <i>"
								+ data.pageCount
								+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
								+ data.pageIndex
								+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
								+ data.prePage
								+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.nextPage
								+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.pageCount
								+ ")'>末页</a><span class='current next'>&gt;</span>";
						$("#page").append(page);
					}
				});
	}
</script>
</html>
