<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/WdatePicker.css" />
<link rel="stylesheet" type="text/css" href="css/skin_/table.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.dialog.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.grid.css" />
<link rel="stylesheet" type="text/css" href="/css/newCss/newCss.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.select.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/jquery.pagination.js"></script>
<script type="text/javascript" src="js/jquery.grid.js"></script>
<script type="text/javascript" src="js/WdatePicker.js"></script>

<script type="text/javascript" src="js/newjs/medicine.js"></script>
<script type="text/javascript">
	/* $(function() {
		var level = $("#backLevel").val();
		if (level != "") {
			if (level != "all") {
				selectMedType(level);
			}
		}

	}); */
	$(document).keyup(function(event) {
		if (event.keyCode == 13) {
			selectMedType();
		}
	});

	function selectMedType() {
		var name = $('#selectname').val();
		$
				.ajax({
					url : 'selectMedType',
					type : 'post',
					dataType : 'json',
					data : {
						name : name
					},
					success : function(data) {
						$("#data").html("");
						$("#page").html("");
						$
								.each(
										data.list,
										function(index, value) {
											var div = $("<tr><td><input type='checkbox' id='"
													+ value.id
													+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
													+ value.id
													+ "</td><td>"
													+ value.typename
													+ "</td><td>"
													+ value.description
													+ "</td><td>"
													+ value.createtime
													+ "</td><td><a href='#' onclick='updateData("
													+ value.id
													+ ")' >编辑</a>&nbsp;&nbsp;<a href='#' onclick='delData("
													+ value.id
													+ ")'>删除</a></td>");
											$("#data").append(div);
										});
						var page = "<div id='pagediv'><div>总记录数： <i>"
								+ data.rowCount
								+ "</i></div><div>总页数： <i>"
								+ data.pageCount
								+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
								+ data.pageIndex
								+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
								+ data.prePage
								+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.nextPage
								+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.pageCount
								+ ")'>末页</a><span class='current next'>&gt;</span>";
						$("#page").append(page);
					}
				});
	}

	function delData(id) {
		var delId = "";
		var type;
		if (id == "" || id == null) {
			type = "some";
			$(".checkboxes").each(function() {
				if (this.checked == true) {
					delId += this.id;
					delId += ",";
				}
			})
		} else {
			type = "alone";
			delId = id;
		}

		if (delId == "" && type == "some") {
			alert("请勾选要删除的数据");
		} else {
			if (confirm("确定要删除吗？")) {
				$
						.ajax({
							url : 'medType/delData',
							type : 'post',
							dataType : 'json',
							data : {
								id : delId,
								type : type
							},
							success : function(data) {
								alert(data.error);
								$("#data").html("");
								$("#page").html("");
								$
										.each(
												data.data.list,
												function(index, value) {
													var div = $("<tr><td><input type='checkbox' id='"
															+ value.id
															+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
															+ value.id
															+ "</td><td>"
															+ value.typename
															+ "</td><td>"
															+ value.description
															+ "</td><td>"
															+ value.createtime
															+ "</td><td><a href='#' onclick='updateData("
															+ value.id
															+ ")' >编辑</a>&nbsp;&nbsp;<a href='#' onclick='delData("
															+ value.id
															+ ")'>删除</a></td>");
													$("#data").append(div);
												});
								var page = "<div id='pagediv'><div>总记录数： <i>"
										+ data.data.rowCount
										+ "</i></div><div>总页数： <i>"
										+ data.data.pageCount
										+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
										+ data.data.pageIndex
										+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
										+ data.data.prePage
										+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
										+ data.data.nextPage
										+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
										+ data.data.pageCount
										+ ")'>末页</a><span class='current next'>&gt;</span>";
								$("#page").append(page);
								$("#all").prop("checked", false);
							}
						})
			}
		}
	}

	function toDataByPage(pageIndex) {
		var name = $("#selectname").val();
		$
				.ajax({
					url : "medType/toDataByPage",
					type : "post",
					dataType : "json",
					data : {
						pageIndex : pageIndex,
						name : name
					},
					success : function(data) {
						$("#data").html("");
						$("#page").html("");
						$
								.each(
										data.list,
										function(index, value) {
											var div = $("<tr><td><input type='checkbox' id='"
													+ value.id
													+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
													+ value.id
													+ "</td><td>"
													+ value.typename
													+ "</td><td>"
													+ value.description
													+ "</td><td>"
													+ value.createtime
													+ "</td><td><a href='#' onclick='updateData("
													+ value.id
													+ ")' >编辑</a>&nbsp;&nbsp;<a href='#' onclick='delData("
													+ value.id
													+ ")'>删除</a></td>");
											$("#data").append(div);
										});
						var page = "<div id='pagediv'><div>总记录数： <i>"
								+ data.rowCount
								+ "</i></div><div>总页数： <i>"
								+ data.pageCount
								+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
								+ data.pageIndex
								+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
								+ data.prePage
								+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.nextPage
								+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.pageCount
								+ ")'>末页</a><span class='current next'>&gt;</span>";
						$("#page").append(page);
					}
				})
	}
</script>

<title>药品种类信息管理</title>
</head>

<body>
	<div id="container">
		<div id="hd"></div>
		<div id="bd">
			<div id="main">
				<input type="hidden" th:value="${session.error}" id="error"></input>
				<div class="search-box ue-clear">
					<div class="search-area">
						<div class="kv-item ue-clear">
							<label style="width: 100px">药品种类名称:</label>
							<div class="kv-item-content">
								<input type="text" style="width: 100px" name="selectname"
									id="selectname" />
							</div>
						</div>
					</div>
					<!-- <div class="search-button" style="margin-left: 20px;">
						<input style="width: 90px; height: 31px; line-height: 31px;"
							class="button" type="button" value="查询" />
					</div> -->
				</div>

				<div class="table">
					<div class="opt ue-clear">
						<span class="optarea"> <a href="toAddMedType" class="add">
								<i class="icon"></i> <span class="text">添加</span>
						</a> <a href="javascript:;" onclick="delData()" class="delete"> <i
								class="icon"></i> <span class="text">删除</span>
						</a>
						</span>
					</div>

					<div class="grid">
						<table class="ui-table" width="100%">
							<thead>
								<tr>
									<th width="3%"><input type="checkbox" id="all"
										onclick="checkAll()" /></th>
									<th width="8%" name="id">药品种类ID</th>
									<th width="15%">药品种类名称</th>
									<th width="">药品种类描述</th>
									<th width="20%">添加时间</th>
									<th width="15%">操作</th>
								</tr>
							</thead>
							<tbody class="ui-table-tbody" id="data">
								<tr th:each="c:${medtype.list}">
									<td><input type="checkbox" th:id="${c.id}"
										onclick="checkOne()" class="checkboxes" /></td>
									<td th:text="${c.id}"></td>
									<td th:text="${c.typename}"></td>
									<td th:text="${c.description}"></td>
									<td
										th:text="${#dates.format(c.createtime,'yyyy-MM-dd HH:mm:ss')}"></td>
									<td><a href="#"
										th:onclick="|javascript:updateData(${c.id})|">编辑</a>&nbsp;&nbsp;
										<a href="#" th:onclick="|javascript:delData(${c.id})|">删除</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="pagination" id="page" style="float: right;">
						<div id="pagediv">
							<div>
								总记录数： <i th:text="${medtype.rowCount}"></i>
							</div>
							<div>
								总页数： <i th:text="${medtype.pageCount}"></i>
							</div>
							<div style="margin-right: 30px;">
								当前页： <i th:text="${medtype.pageIndex}"></i>
							</div>
						</div>
						<span class="current prev">&lt;</span><a href="javascript:;"
							th:onclick="|javascript:toDataByPage(1)|">首页</a> <a
							href="javascript:;"
							th:onclick="|javascript:toDataByPage(${medtype.prePage})|">上一页</a><a
							href="javascript:;"
							th:onclick="|javascript:toDataByPage(${medtype.nextPage})|">下一页</a><a
							href="javascript:;"
							th:onclick="|javascript:toDataByPage(${medtype.pageCount})|">末页</a>
						<span class="current next">&gt;</span>
						<!-- <div class="pxofy">暂时无数据可以显示</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="exitDialog">
		<div class="content">
			<form action="updateUser" method="post" style="margin-left: 20px">
				<input type="hidden" id="medTypeId" />
				<div style="margin-top: 20px">
					<label style="float: left;">药品种类名称</label> <input type="text"
						name="updatename" id="updatename" style="margin-left: 10px" />
				</div>
				<div style="margin-top: 20px;">
					<label style="float: left;">药品种类描述</label>
					<textarea rows="" cols="22" style="margin-left: 10px"
						name="description" id="description"></textarea>
				</div>
				<div class="buttons" style="margin-top: 20px">
					<input style="margin-right: 150px" type="button"
						class="button long2 ok" value="确定" /> <input type="button"
						class="button long2 normal" value="取消" />
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/core.js"></script>
<script type="text/javascript" src="/js/jquery.dialog.js"></script>
<script type="text/javascript">
	/* 	$('.pagination').pagination(100, {
	 callback : function(page) {
	 //alert(page);	
	 },
	 display_msg : false
	 });
	 */
	$('.exitDialog').Dialog({
		title : '修改药品种类信息',
		autoOpen : false,
		width : 400,
		height : 200
	});

	function updateData(id) {
		$('.exitDialog').Dialog('open');
		$.ajax({
			url : 'toUpdateMedType',
			type : 'post',
			dataType : 'json',
			data : {
				id : id
			},
			success : function(data) {
				$("#medTypeId").val(data.data.id);
				$("#updatename").val(data.data.typename);
				$("#description").val(data.data.description);
			}
		});
	}

	$('.exitDialog input[type=button]').click(function(e) {
		if ($(this).hasClass('ok')) {
			var medTypeId = $("#medTypeId").val();
			var name = $("#updatename").val();
			var description = $("#description").val();
			if (name != "" && description != "") {
				if (confirm("确定修改吗？")) {
					var isExist = true;
					$.ajax({
						type : "post",
						url : "medType/isExist",
						data : {
							id : medTypeId,
							typename : name
						},
						dataType : "json",
						async : false,
						success : function(msg) {
							if (msg == false) {
								alert("药品种类名称已存在！");
								isExist = false;
							}
						}
					});
					if (isExist) {
						$.ajax({
							type : "post",
							url : "updateMedType",
							data : {
								id : medTypeId,
								typename : name,
								description : description
							},
							dataType : "json",
							async : false,
							success : function(msg) {
								alert(msg.error);
								$('.exitDialog').Dialog('close');
								getMedType();
							}
						});
					} else {
						return false;
					}
				}
			} else {
				alert("请填写完整信息！");
				return false;
			}
		} else {
			$('.exitDialog').Dialog('close');
		}
	});
	function getMedType() {
		$
				.ajax({
					url : 'getMedType',
					type : 'post',
					dataType : 'json',
					success : function(data) {
						$("#data").html("");
						$("#page").html("");
						$
								.each(
										data.list,
										function(index, value) {
											var div = $("<tr><td><input type='checkbox' id='"
													+ value.id
													+ "' onclick='checkOne()' class='checkboxes' /></td><td>"
													+ value.id
													+ "</td><td>"
													+ value.typename
													+ "</td><td>"
													+ value.description
													+ "</td><td>"
													+ value.createtime
													+ "</td><td><a href='#' onclick='updateData("
													+ value.id
													+ ")'>编辑</a>&nbsp;&nbsp; <a href='javascript:;' onclick='delData("
													+ value.id
													+ ")'>删除</a></td></tr>");
											$("#data").append(div);
										});
						var page = "<div id='pagediv'><div>总记录数： <i>"
								+ data.rowCount
								+ "</i></div><div>总页数： <i>"
								+ data.pageCount
								+ "</i></div><div style='margin-right: 30px;'>当前页： <i>"
								+ data.pageIndex
								+ "</i></div></div><span class='current prev'>&lt;</span><a href='javascript:;' onclick='toDataByPage(1)'>首页</a> <a href='javascript:;' onclick='toDataByPage("
								+ data.prePage
								+ ")'>上一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.nextPage
								+ ")'>下一页</a><a href='javascript:;' onclick='toDataByPage("
								+ data.pageCount
								+ ")'>末页</a><span class='current next'>&gt;</span>";
						$("#page").append(page);
					}
				});
	}
</script>
</html>
