<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.medicine.dao.MedicineMapper">
	<resultMap id="BaseResultMap" type="com.jy.medicine.model.Medicine">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type_id" property="type_id" jdbcType="INTEGER" />
		<result column="med_no" property="med_no" jdbcType="VARCHAR" />
		<result column="med_name" property="med_name" jdbcType="VARCHAR" />
		<result column="factory" property="factory" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="REAL" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="med_count" property="med_count" jdbcType="INTEGER" />
		<result column="req_count" property="req_count" jdbcType="INTEGER" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getAllMedicines" parameterType="Map" resultType="Medicine"
		statementType="CALLABLE">
		{call pro_Paging(
		#{tableName,mode=IN,jdbcType=VARCHAR},
		#{clumn,mode=IN,jdbcType=VARCHAR},
		#{tiaojian,mode=IN,jdbcType=VARCHAR},
		#{pageIndex,mode=IN,jdbcType=INTEGER},
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{pageCount,mode=OUT,jdbcType=INTEGER},
		#{rowCount,mode=OUT,jdbcType=INTEGER})}
	</select>

	<select id="getMedType" resultType="MedType">
		select * from med_type
	</select>
</mapper>