<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.medicine.dao.MedicineMapper">


	<select id="getAllMedicines" parameterType="Map" resultType="MedTypeVO"
		statementType="CALLABLE">
		{call pro_Paging(
		#{tableName,mode=IN,jdbcType=VARCHAR},
		#{clumn,mode=IN,jdbcType=VARCHAR},
		#{tiaojian,mode=IN,jdbcType=VARCHAR},
		#{pageIndex,mode=IN,jdbcType=INTEGER},
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{pageCount,mode=OUT,jdbcType=INTEGER},
		#{rowCount,mode=OUT,jdbcType=INTEGER})}
	</select>

	<select id="getMedType" resultType="MedType">
		select * from med_type
	</select>

	<insert id="addMed" parameterType="Medicine">
		insert into
		medicine(type_id,med_no,med_name,factory,price,description,picture)
		values(#{type_id},#{med_no},#{med_name},#{factory},#{price},#{description},#{picture})
	</insert>

	<select id="getMed" parameterType="Medicine" resultType="Medicine">
		select *
		from medicine where med_no=#{med_no}
		and id not in (#{id})
	</select>

	<select id="getMedByMedNo" parameterType="String" resultType="Medicine">
		select * from medicine where med_no=#{med_no}
	</select>

	<select id="getMedById" parameterType="String" resultType="Medicine">
		select * from medicine where id=#{id}
	</select>

	<update id="updateMedById" parameterType="Medicine">
		update medicine set
		type_id=#{type_id},med_no=#{med_no},med_name=#{med_name},factory=#{factory},
		price=#{price},description=#{description}
		<if test="picture!='' and picture!=null">
			,picture=#{picture}
		</if>
		where
		id=#{id}
	</update>

	<delete id="delMedById" parameterType="int">
		delete from medicine
		where
		id=#{id}
	</delete>

	<update id="buyMed" parameterType="Medicine">
		update medicine set
		req_count=req_count+#{req_count} where id=#{id}
	</update>
</mapper>